In [17]:
import pandas as pd
import os
import random

# Function to list all CSV files in a directory
def list_csv_files(directory):
    csv_files = []
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file.endswith(".csv"):
                csv_files.append(os.path.join(root, file))
    return csv_files

# Generate file paths for each month's data in 2022, and 2023 
file_paths = [
    list_csv_files("2022-citibike-tripdata/1_January"),  # List of CSV files for January 2022
    list_csv_files("2022-citibike-tripdata/2_February"),  # List of CSV files for February 2022
    list_csv_files("2022-citibike-tripdata/3_March"),  # List of CSV files for March 2022
    list_csv_files("2022-citibike-tripdata/4_April"),  # List of CSV files for April 2022
    list_csv_files("2022-citibike-tripdata/5_May"),  # List of CSV files for May 2022
    list_csv_files("2022-citibike-tripdata/6_June"),  # List of CSV files for June 2022
    list_csv_files("2022-citibike-tripdata/7_July"),  # List of CSV files for July 2022
    list_csv_files("2022-citibike-tripdata/8_August"),  # List of CSV files for August 2022
    list_csv_files("2022-citibike-tripdata/9_September"),  # List of CSV files for September 2022
    list_csv_files("2022-citibike-tripdata/10_October"),  # List of CSV files for October 2022
    list_csv_files("2022-citibike-tripdata/11_November"),  # List of CSV files for November 2022
    list_csv_files("2022-citibike-tripdata/12_December"),  # List of CSV files for December 2022
    list_csv_files("2023-citibike-tripdata/1_January"),  # List of CSV files for January 2023
    list_csv_files("2023-citibike-tripdata/2_February"),  # List of CSV files for February 2023
    list_csv_files("2023-citibike-tripdata/3_March"),  # List of CSV files for March 2023
    list_csv_files("2023-citibike-tripdata/4_April"),  # List of CSV files for April 2023
    list_csv_files("2023-citibike-tripdata/5_May"),  # List of CSV files for May 2023
    list_csv_files("2023-citibike-tripdata/6_June"),  # List of CSV files for June 2023
    list_csv_files("2023-citibike-tripdata/7_July"),  # List of CSV files for July 2023
    list_csv_files("2023-citibike-tripdata/8_August"),  # List of CSV files for August 2023
    list_csv_files("2023-citibike-tripdata/9_September"),  # List of CSV files for September 2023
    list_csv_files("2023-citibike-tripdata/10_October"),  # List of CSV files for October 2023
    list_csv_files("2023-citibike-tripdata/11_November"),  # List of CSV files for November 2023
    list_csv_files("2023-citibike-tripdata/12_December"),  # List of CSV files for December 2023
]

# Initialize an empty list to store sampled data
sampled_data = []

# Sample 1% of rows from each file
for month_files in file_paths:
    month_sampled_data = []
    for file in month_files:
        # Read the CSV file
        df = pd.read_csv(file, low_memory=False)
        # Calculate the number of rows to sample (1% of total rows)
        sample_size = max(1, int(len(df) * 0.05))
        # Sample rows randomly
        sampled_rows = df.sample(n=sample_size, random_state=42)
        # Append sampled rows to the list
        month_sampled_data.append(sampled_rows)
    # Concatenate sampled data for each month
    sampled_data.append(pd.concat(month_sampled_data, ignore_index=True))

# Concatenate sampled data from all months
final_result = pd.concat(sampled_data, ignore_index=True)

# Display the result
final_result

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,92C173615E6FC581,electric_bike,2022-01-20 18:13:18,2022-01-20 18:19:46,W 54 St & 11 Ave,6955.05,W 42 St & 8 Ave,6602.05,40.768333,-73.992573,40.757570,-73.990985,member
1,8791E6BCA9AA6856,electric_bike,2022-01-02 19:46:33,2022-01-02 20:03:23,Astoria Park S & Shore Blvd,7159.08,27 Ave & 9 St,7098.05,40.776700,-73.927631,40.773983,-73.930913,member
2,C13797C39EE7E1A0,classic_bike,2022-01-10 10:10:53,2022-01-11 11:10:39,Christopher St & Greenwich St,5847.01,NaN,NaN,40.732916,-74.007114,NaN,NaN,member
3,3F55D8802F619945,classic_bike,2022-01-17 15:41:19,2022-01-17 15:52:23,Queens Plaza North & Crescent St,6429.01,Crescent St & 30 Ave,6958.06,40.751102,-73.940737,40.768692,-73.924957,member
4,8AB388AD5639E1CF,classic_bike,2022-01-03 08:29:48,2022-01-03 08:43:23,Perry St & Greenwich Ave,5955.12,E 41 St & Madison Ave (SW corner),6474.12,40.735918,-74.000939,40.752165,-73.979922,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345810,4284A3C0B38CDED2,classic_bike,2023-12-31 10:59:15,2023-12-31 11:02:13,W 34 St & 11 Ave,6578.01,12 Ave & W 40 St,6765.01,40.755942,-74.002116,40.760875,-74.002777,member
3345811,236D8DBEBB9F5719,classic_bike,2023-12-18 15:04:39,2023-12-18 15:08:06,St Nicholas Terrace & Convent Ave,7937.15,W 129 St & Convent Ave,7818.17,40.821032,-73.947706,40.814394,-73.953247,member
3345812,39A5BCA977493B6A,classic_bike,2023-12-09 08:04:01,2023-12-09 08:10:29,W 146 St & Broadway,8018.09,W 116 St & Broadway,7713.11,40.826999,-73.949668,40.808200,-73.964100,casual
3345813,937804D8EDD705F2,classic_bike,2023-12-26 19:26:20,2023-12-26 20:32:21,39 Dr & 52 St,6316.05,46 St & Queens Blvd,6209.08,40.747352,-73.911966,40.743498,-73.918605,casual
3345814,2D7F44AD977EAC1D,classic_bike,2023-12-23 01:00:47,2023-12-23 01:02:32,8 Ave & W 16 St,6072.11,9 Ave & W 22 St,6266.06,40.740701,-74.001871,40.745497,-74.001971,member

In [19]:
# Convert 'started_at' column to datetime
final_result['started_at'] = pd.to_datetime(final_result['started_at'])

# Extract year and month from 'started_at' column
final_result['year_month'] = final_result['started_at'].dt.to_period('M')

# Count the number of samples by year and month
year_month_counts = final_result['year_month'].value_counts()

# Sort the counts by year and month
year_month_counts_sorted = year_month_counts.sort_index()

# Display the sorted counts
year_month_counts_sorted

year_month
2022-01     52620
2022-02     61685
2022-03     94672
2022-04    115980
2022-05    147030
2022-06    171644
2022-07    174869
2022-08    184065
2022-09    175356
2022-10    151083
2022-11    123005
2022-12     82482
2023-01     92760
2023-02     87607
2023-03    109710
2023-04    142717
2023-05    179038
2023-06    178012
2023-07    188812
2023-08    204658
2023-09    178758
2023-10    191183
2023-11    144386
2023-12    113683
Freq: M, Name: count, dtype: int64

In [40]:
#Making a copy for any further checks on the dataframe so that the dataframe does not get disturbed
result = final_result.copy()
result

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,year_month
0,92C173615E6FC581,electric_bike,2022-01-20 18:13:18,2022-01-20 18:19:46,W 54 St & 11 Ave,6955.05,W 42 St & 8 Ave,6602.05,40.768333,-73.992573,40.757570,-73.990985,member,2022-01
1,8791E6BCA9AA6856,electric_bike,2022-01-02 19:46:33,2022-01-02 20:03:23,Astoria Park S & Shore Blvd,7159.08,27 Ave & 9 St,7098.05,40.776700,-73.927631,40.773983,-73.930913,member,2022-01
2,C13797C39EE7E1A0,classic_bike,2022-01-10 10:10:53,2022-01-11 11:10:39,Christopher St & Greenwich St,5847.01,NaN,NaN,40.732916,-74.007114,NaN,NaN,member,2022-01
3,3F55D8802F619945,classic_bike,2022-01-17 15:41:19,2022-01-17 15:52:23,Queens Plaza North & Crescent St,6429.01,Crescent St & 30 Ave,6958.06,40.751102,-73.940737,40.768692,-73.924957,member,2022-01
4,8AB388AD5639E1CF,classic_bike,2022-01-03 08:29:48,2022-01-03 08:43:23,Perry St & Greenwich Ave,5955.12,E 41 St & Madison Ave (SW corner),6474.12,40.735918,-74.000939,40.752165,-73.979922,member,2022-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345810,4284A3C0B38CDED2,classic_bike,2023-12-31 10:59:15,2023-12-31 11:02:13,W 34 St & 11 Ave,6578.01,12 Ave & W 40 St,6765.01,40.755942,-74.002116,40.760875,-74.002777,member,2023-12
3345811,236D8DBEBB9F5719,classic_bike,2023-12-18 15:04:39,2023-12-18 15:08:06,St Nicholas Terrace & Convent Ave,7937.15,W 129 St & Convent Ave,7818.17,40.821032,-73.947706,40.814394,-73.953247,member,2023-12
3345812,39A5BCA977493B6A,classic_bike,2023-12-09 08:04:01,2023-12-09 08:10:29,W 146 St & Broadway,8018.09,W 116 St & Broadway,7713.11,40.826999,-73.949668,40.808200,-73.964100,casual,2023-12
3345813,937804D8EDD705F2,classic_bike,2023-12-26 19:26:20,2023-12-26 20:32:21,39 Dr & 52 St,6316.05,46 St & Queens Blvd,6209.08,40.747352,-73.911966,40.743498,-73.918605,casual,2023-12
3345814,2D7F44AD977EAC1D,classic_bike,2023-12-23 01:00:47,2023-12-23 01:02:32,8 Ave & W 16 St,6072.11,9 Ave & W 22 St,6266.06,40.740701,-74.001871,40.745497,-74.001971,member,2023-12

In [43]:
import numpy as np

# Define a function to calculate the Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 3956  # Radius of Earth in miles. Use 6371 for kms
    return c * r

# Apply the function to calculate the distance and store it in a new column
result['distance_miles'] = haversine(result['start_lat'], result['start_lng'], result['end_lat'], result['end_lng']).round(2)
result

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,year_month,distance_miles
0,92C173615E6FC581,electric_bike,2022-01-20 18:13:18,2022-01-20 18:19:46,W 54 St & 11 Ave,6955.05,W 42 St & 8 Ave,6602.05,40.768333,-73.992573,40.757570,-73.990985,member,2022-01,0.75
1,8791E6BCA9AA6856,electric_bike,2022-01-02 19:46:33,2022-01-02 20:03:23,Astoria Park S & Shore Blvd,7159.08,27 Ave & 9 St,7098.05,40.776700,-73.927631,40.773983,-73.930913,member,2022-01,0.25
2,C13797C39EE7E1A0,classic_bike,2022-01-10 10:10:53,2022-01-11 11:10:39,Christopher St & Greenwich St,5847.01,NaN,NaN,40.732916,-74.007114,NaN,NaN,member,2022-01,NaN
3,3F55D8802F619945,classic_bike,2022-01-17 15:41:19,2022-01-17 15:52:23,Queens Plaza North & Crescent St,6429.01,Crescent St & 30 Ave,6958.06,40.751102,-73.940737,40.768692,-73.924957,member,2022-01,1.47
4,8AB388AD5639E1CF,classic_bike,2022-01-03 08:29:48,2022-01-03 08:43:23,Perry St & Greenwich Ave,5955.12,E 41 St & Madison Ave (SW corner),6474.12,40.735918,-74.000939,40.752165,-73.979922,member,2022-01,1.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345810,4284A3C0B38CDED2,classic_bike,2023-12-31 10:59:15,2023-12-31 11:02:13,W 34 St & 11 Ave,6578.01,12 Ave & W 40 St,6765.01,40.755942,-74.002116,40.760875,-74.002777,member,2023-12,0.34
3345811,236D8DBEBB9F5719,classic_bike,2023-12-18 15:04:39,2023-12-18 15:08:06,St Nicholas Terrace & Convent Ave,7937.15,W 129 St & Convent Ave,7818.17,40.821032,-73.947706,40.814394,-73.953247,member,2023-12,0.54
3345812,39A5BCA977493B6A,classic_bike,2023-12-09 08:04:01,2023-12-09 08:10:29,W 146 St & Broadway,8018.09,W 116 St & Broadway,7713.11,40.826999,-73.949668,40.808200,-73.964100,casual,2023-12,1.50
3345813,937804D8EDD705F2,classic_bike,2023-12-26 19:26:20,2023-12-26 20:32:21,39 Dr & 52 St,6316.05,46 St & Queens Blvd,6209.08,40.747352,-73.911966,40.743498,-73.918605,casual,2023-12,0.44
3345814,2D7F44AD977EAC1D,classic_bike,2023-12-23 01:00:47,2023-12-23 01:02:32,8 Ave & W 16 St,6072.11,9 Ave & W 22 St,6266.06,40.740701,-74.001871,40.745497,-74.001971,member,2023-12,0.33

In [44]:
result['start_station_name'].value_counts()

start_station_name
W 21 St & 6 Ave            13682
West St & Chambers St      12033
Broadway & W 58 St         11975
1 Ave & E 68 St            10818
University Pl & E 14 St    10502
                           ...
12 St & Sinatra Dr N           1
Tibbett Ave & W 234 St         1
Pillar W 41 St & 8 Ave         1
Pillar E 16 St & 5 Ave         1
6 St & Grand St                1
Name: count, Length: 2284, dtype: int64

In [45]:
# Calculate the total null count by column
null_count = result.isnull().sum()

# Calculate the percentage of null values by column
null_percentage = (null_count / len(result)) * 100

# Calculate the total count of rows
total_count = len(result)

# Calculate the number of unique values for each column
unique_count = result.nunique()

# Create DataFrames for null count, null percentage, total count, and unique count
null_count_df = pd.DataFrame(null_count, columns=['Null Count'])
null_percentage_df = pd.DataFrame(null_percentage, columns=['Null Percentage'])
total_count_df = pd.DataFrame([total_count] * len(null_count), index=null_count.index, columns=['Total Count'])
unique_count_df = pd.DataFrame(unique_count, columns=['Unique Count'])

# Concatenate DataFrames to create the summary DataFrame
null_summary = pd.concat([total_count_df, null_count_df, null_percentage_df, unique_count_df], axis=1)

# Print the result
print("Null summary:")
null_summary

Null summary:

                    Total Count  Null Count  Null Percentage  Unique Count
ride_id                 3345815           0         0.000000       3345815
rideable_type           3345815           0         0.000000             3
started_at              3345815           0         0.000000       3200549
ended_at                3345815           0         0.000000       3200445
start_station_name      3345815         946         0.028274          2284
start_station_id        3345815         946         0.028274          4161
end_station_name        3345815        8800         0.263015          2330
end_station_id          3345815        8800         0.263015          2391
start_lat               3345815           0         0.000000        617566
start_lng               3345815           0         0.000000        537448
end_lat                 3345815        3147         0.094058          3011
end_lng                 3345815        3147         0.094058          2993
member_casual           3345815           0         0.000000             2
year_month              3345815           0         0.000000            24
distance_miles          3345815        3147         0.094058          1265

In [46]:
result.to_csv("NYC_citibike_data_2022_to_2023.csv")